@layer utilities {
    .bg-custom-gradient {
        background: linear-gradient(90deg, rgba(246, 246, 249, 1) 0%, rgba(219, 202, 254, 1) 80%, rgba(219, 202, 254, 1) 100%);
    }

    .dark .bg-custom-gradient {
        background: var(--tw-page-bg-dark);
    }
}

.menu-separator.simple {
    border-bottom: var(--tw-dropdown-border);
    margin-top: .625rem;
    margin-bottom: .625rem;
}

.alert {
    display: flex;
    align-items: center;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s ease, fadeOut 0.5s ease 4.5s forwards;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.alert-success {
    background-color: #d4edda;
    border: 1px solid #155724;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    border: 1px solid #721c24;
    color: #721c24;
}

.alert-warning {
    background-color: #fff3cd;
    border: 1px solid #856404;
    color: #856404;
}

.alert-info {
    background-color: #d1ecf1;
    border: 1px solid #0c5460;
    color: #0c5460;
}

.alert-close {
    margin-left: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 1;
    padding-left: 20px;
}

.ql-editor {
    appearance: none;
    box-shadow: none;
    outline: none;
    font-weight: 500;
    font-size: .8125rem;
    background-color: var(--tw-light-active);
    border-radius: .375rem;
    padding: .55rem .75rem;
    border: 1px solid var(--tw-gray-300);
    color: var(--tw-gray-700);
}

.ql-toolbar.ql-snow {
    appearance: none;
    box-shadow: none;
    outline: none;
    font-weight: 500;
    font-size: .8125rem;
    background-color: transparent;
    border-radius: .375rem;
    padding: .55rem .75rem;
    border: 1px solid var(--tw-gray-300);
    color: var(--tw-gray-700);
}

.ql-container.ql-snow {
    border: none !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}